<amexio-layout-columns [orientation]="'vertical'" [border]="false" alignment="space-between">
  <amexio-layout-item [padding]="'0px'">
    <amexio-layout-columns [orientation]="'horizontal'" [border]="false" alignment="center">
      <amexio-layout-item [padding]="'0px'">
        <amexio-image [height]="'200px'"  [path]="'assets/images/logo1.png'" [filter]="'normal'">
        </amexio-image>
      </amexio-layout-item>
    </amexio-layout-columns>
  </amexio-layout-item>
  <amexio-layout-item [padding]="'0px'">
    <amexio-layout-columns [orientation]="'horizontal'" [border]="false" alignment="space-between">
      <amexio-layout-item>
        <amexio-floating-button [relative]="true" [icon]="'fa fa-volume-control-phone'"  [type]="'green'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-phone'" [type]="'theme-color'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-pause '" [type]="'yellow'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-phone-square'" [type]="'red'"></amexio-floating-button>
      </amexio-layout-item>
    </amexio-layout-columns>
  </amexio-layout-item>
</amexio-layout-columns>
