<amexio-row>
    <amexio-column [size]=3>
        <amexio-card [header]="false" [footer]="true" [footer-align]="'right'">
            <amexio-image path="https://api.amexio.org/api/v5.5/assets/images/carousel/set1/1.jpg">
            </amexio-image>
            <amexio-body>
                Body
            </amexio-body>
            <amexio-image path="https://api.amexio.org/api/v5.5/assets/images/carousel/set1/1.jpg">
            </amexio-image>
                <amexio-action>
                Action
            </amexio-action>
        </amexio-card>
    </amexio-column>

    <amexio-column [size]=3>
            <amexio-card [header]="true" [footer]="true" [footer-align]="'right'">
                    <amexio-header>
                            Header
                        </amexio-header>
                <amexio-image path="https://api.amexio.org/api/v5.5/assets/images/carousel/set1/1.jpg">
                </amexio-image>
                <amexio-body>
                    Body
                </amexio-body>
                <amexio-action>
                    Action
                </amexio-action>
            </amexio-card>
        </amexio-column>
    
    <amexio-column [size]=3>
        <amexio-card [header]="false" [footer]="true" [footer-align]="'right'">
            <amexio-body>
                <amexio-image path="https://api.amexio.org/api/v5.5/assets/images/carousel/set1/1.jpg">
                </amexio-image>
                Body
            </amexio-body>
            <amexio-action>
                Action
            </amexio-action>
        </amexio-card>
    </amexio-column>

    <amexio-column [size]=3>
        <amexio-card [header]="true" [footer]="true" [footer-align]="'right'">
            <amexio-header>
                Header
            </amexio-header>
            <amexio-body>
                <amexio-image path="https://api.amexio.org/api/v5.5/assets/images/carousel/set1/1.jpg">
                </amexio-image>
                Body
            </amexio-body>
            <amexio-action>
                Action
            </amexio-action>
        </amexio-card>
    </amexio-column>

</amexio-row>