/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("https://demo.amexio.org/alfahim/assets/images/bmwbg.jpg")!important;
    background-size: cover!important;
}

.card-container {
    border: none!important;
    box-shadow: none!important;
}

.amexio-checkbox-style .inputgroup {
    padding-top: 10px!important;
}

.vehicle-card .card-container {
    border: 1px solid #ced4da!important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14)!important;
}

.notavailableweekday {
    text-decoration: none !important;
}

.remove-border .card-container {
    border: none!important;
    box-shadow: none!important;
}

.content-card {
    max-width: 200px;
    height: 200px;
}

.toolbar {
    padding: 0px !important;
}






@media only screen and (max-width: 600px) {
    .serviceconf amexio-layout-columns {
        height: auto!important;
    }
    .serviceconf .flex-col {
        padding: 0%!important;
    }
    .serviceconf .card-container>* {
        padding-right: 0px!important;
    }
    .serviceconf amexio-toolbar-item {
        padding-left: 0px!important;
    }
    .serviceconf amexio-layout-item {
        width: 93%!important;
    }
    .toolbaritemseperatorright {
        padding-right: 2px!important;
    }
}





/*


.alfahim-root-window {
    background: rgba(128, 127, 127, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alfahim-root-window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    background-color: white;
    height: 100%;
    width: 90%;
}

.alfahim-root-window-content>* {
    width: 100%;
}

.amexio-layout-columns-height {
    height: unset !important;
}

@media only screen and (max-width: 600px) {
    .alfahim-root-window-content {
        width: 100%;
    }
}
*/

/* You can add global styles to this file, and also import other style files */

.alfahim-root-window {
  background: rgba(128, 127, 127, 0.6);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alfahim-root-window > div{
  display: flex; flex-direction: row; justify-content: center;
}

.alfahim-root-window-inner{
  height: auto; width: 100%;
}

.alfahim-root-window-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  background-color: white;
  height: auto;
  min-width: 50%;
  width: auto;
  max-width: 80%;
}

.inputgroup > label {
  margin-bottom: unset;
}

.alfahim-root-window-content> existing-customer {
  width: 100%;
  height: 100%;
}

.amexio-layout-columns-height {
  height: unset !important;
}

.layout-width{
  width: 300px;
}

.timebox-width {
  width: 100px;
}

.alfahimstepbox{
  display: flex; flex-direction: row; justify-content: space-evenly; position: relative;

}

.alfahimstepbox:before {
  background-color:lightgray;
  top: 50%;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  z-index: 0;
}

.alfahimstepboxitems{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size : 2em;
}

.alfahimstepboxitems-active{
  color: black;
}

.alfahimstepboxitems-deactive{
  color: lightgray;
}

quick-booking  {
  height: auto;
}

.hideinmobiledeivce{
  display: block;
  height: 0px;
}
@media only screen and (max-width: 600px) {
  .alfahim-root-window-content {
    width: 100%;
    max-width: 100%;
  }

  .button-large{
    padding: 0.5rem;
  }
   
  otp-component {
    height: 100%;
  }
  appointment-confirmation {
    height: 100%;
  }

  quick-booking { 
    height: 100%;
  }

  .alfahim-root-window-inner{
    height: 100%; width: 100%;
  }

  .amexio-badge{
    position: relative !important;
  }

  .layout-width{
    width: 100%;
  }

  .timebox-width {
    width: 100%;
  }

}
