<amexio-layout-columns [orientation]="'vertical'" [border]="false" alignment="space-between">
  <amexio-layout-item [padding]="'0px'">
    <amexio-layout-columns [orientation]="'horizontal'" [border]="false" alignment="center">
      <amexio-layout-item [padding]="'0px'">
        <amexio-image [width]="'150px'" [height]="'120px'" [path]="'assets/images/giclogo.png'" [filter]="'normal'">
        </amexio-image>
      </amexio-layout-item>
    </amexio-layout-columns>
  </amexio-layout-item>
  <amexio-layout-item [padding]="'0px'">
    <amexio-layout-columns [orientation]="'horizontal'" [border]="false" alignment="space-between">
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-volume-control-phone fa-2x'"  [type]="'green'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-phone  fa-2x'" [type]="'theme-color'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-pause  fa-2x'" [type]="'yellow'"></amexio-floating-button>
      </amexio-layout-item>
      <amexio-layout-item [padding]="'0px'">
        <amexio-floating-button [relative]="true" [icon]="'fa fa-phone-square  fa-2x'" [type]="'red'"></amexio-floating-button>
      </amexio-layout-item>
    </amexio-layout-columns>
  </amexio-layout-item>
</amexio-layout-columns>